/xenpong.tar
/xenpong
/proj/WindowsVistaRelease
/proj/x64
/proj/package/x64
/proj/package/WindowsVistaRelease
/proj/xenpong/x64
/proj/xenpong/WindowsVistaRelease
/src/xenpong/*.swp
*~
*.sdf
*.suo
